<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Keep calm and Carry ON</title>
    <style type="text/css">
      body {
        background-color: black;
      }
      div {
        border: 2px solid white;
        color: white;
        width: 80%;
        text-align: center;
        margin: 2% auto;
        padding: 5% 2%;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 33%;
        max-width: 250px;
        min-width: 100px;
      }
    </style>
  </head>
  <body>
    <div style="">
      <img
        src="https://cdn.glitch.com/116ca0b4-227c-4188-b8ac-8d0b5de8bff7%2Fthumbnails%2Fcrown%20(1).png?1582673448606"
        alt="crown"
        style=""
      />
      <p style="font-size:8em;color: white; word-break: break-word;">
        KEEP CALM
      </p>
      <p style="font-size:3em;word-break:break-word;">
        AND
      </p>
      <p style="font-size:8em;color: white;word-break:break-word;">
        CARRY ON
      </p>
    </div>
  </body>
</html>
